@import "colors.css";
@import "header.css";
@import "footer.css";
@import "projects.css";
/*@import "scrollbar.css";*/
/*@import "toggle.css";*/

body, html {
  height: 100%;
  overflow-wrap: break-word;
}

body {
  text-align: justify;
  margin: 0;
  width: 100%;
  color: var(--off-white);
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--background-gray);
}

.bg {
  background-image: url("/static/img/sm_living_blur.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 3.5vw;
  color: white;
  text-shadow: 0px 0px 10px black;
}

.name {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.title {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5vw;
}

span.middle {
  color: gray;
}

span.last {
  color: var(--highlight);
}

.section-title {
  text-align: left;
  color: var(--highlight);
  margin: 0 -1%;
  font-family: 'Roboto', sans-serif;
}

.content {
  line-height: 1.6;
  margin: 0 10%;
  padding: 16px;
}

.content:a {
  color: var(--highlight);
}

/* Invisible block for bookmarking to prevent header from blocking section title */
.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}
