@import "colors2.css";
@import "header2.css";
@import "projects2.css";

html {
	font-family: sans-serif;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	margin: 0;
	background-color: var(--highlight);
	background-image: linear-gradient(147deg, var(--highlight) 0%, var(--darklight) 74%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	line-height: 1.75;
}

html, body {
	overflow-wrap: break-word;
	font-family: 'Open Sans', sans-serif;
	/*font-size: 18px;*/
}

#banner {
	padding: 7em 11em 5em;
	color: white;
}

.intro {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 4em;
	margin-bottom: 0;
}

.pitch {
	padding-right: 50%;
}

.section-title {
	padding: 2em 11em 1px;
	background-color: #eee;
}

.section-title h2 {
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2.5em;
}

.section {
	padding: 2em 11em;
	background-color: #eee;
}

.section-grid {
	padding: 1em 8em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
	grid-gap: 1em;
}

.about-image {
	width: 50%;
	height: auto;
}

.small-link {
  color: var(--highlight);
  text-decoration: none;
}