@import "colors.css";
@import "header.css";
@import "footer.css";
@import "projects.css";
@import "name.css";
@import "scrollbar.css";
/*@import "toggle.css";*/

body {
  margin: 0;
  color: var(--off-white);
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-gray);
  overflow-x: hidden;
  overflow-y: scroll;
}

.top-container {
  background-image: url("/static/img/sm_living_blur.png");
  background-size: cover;
  height: 100%;
  padding: 30px 30px 30px;
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 10px black;
}

.name {
  font-family: 'Ubuntu', sans-serif;
  padding: 30px 0px 0px;
}

.title {
  padding: 0px 0px 30px;
  font-family: 'Roboto', sans-serif;
}

span.middle {
  color: gray;
}

span.last {
  color: var(--highlight);
}

.section-title {
  color: var(--highlight);
  margin: 0 -1%;
  font-family: 'Roboto', sans-serif;
}

.content {
  text-align: justify;
  line-height: 1.6;
  margin: 0 10%;
  padding: 16px;
}

.content:a {
  color: var(--highlight);
}

/* Invisible block for bookmarking to prevent header from blocking section title */
.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}
