@import "colors.css";
@import "header.css";
@import "footer.css";
@import "projects.css";
/*@import "toggle.css";*/

body, html {
  height: 100%;
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: left;
  margin: 0;
  width: 100%;
  color: var(--off-white);
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--background-gray);
}

.bg {
  background-image: url("/static/img/sm_living_blur.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 3.5vw;
  color: white;
  text-shadow: 0px 0px 10px black;
}

.name {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.title {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5vw;
}

@media screen and (max-width: 800px) {
  .top-container {
    font-size: 5.5vw;
  }
}

/* 
  Mobile device because hover is demanded
  https://stackoverflow.com/questions/12469875/how-to-code-css-media-queries-targeting-all-mobile-devices-and-tablets
*/
/*@media (hover:none), (hover:on-demand){ 
  .top-container {
    font-size: 5.5vw;
  }
}*/

span.middle {
  color: gray;
}

span.last {
  color: var(--highlight);
}

.section-title {
  text-align: left;
  color: var(--highlight);
  margin: 0 -1%;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}

.content {
  line-height: 1.6;
  margin: 0 10%;
  padding: 16px;
}

@media screen and (max-width: 800px) {
  .content {
    margin: 0;
  }
}

.content:a {
  color: var(--highlight);
}

/* Invisible block for bookmarking to prevent header from blocking section title */
.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

/* To top button */
#to-top {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  opacity: 0.4;
  color: var(--header-gray);
  cursor: pointer;
  padding: 12px;
  border-radius: 4px;
}

#to-top:hover {
  opacity: 0.7;
}

ul {
  list-style-type: disc;
  margin-top: 0;
}
