/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 9999; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: white;
	width: 1000px;
	margin: auto;
	padding: 24px;
	border-radius: 10px;
}

@media screen and (max-width: 1280px) {
	.modal {
		padding: 0;
	}
	.modal-content {
		width: auto;
		border-radius: 0;
	}
}

/* The Close Button */
.close {
	color: var(--light-gray);
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: var(--strawberry);
	text-decoration: none;
	cursor: pointer;
}

.close-btn {
	display: none;
	margin-bottom: 0;
	color: var(--light-gray);
}

@media screen and (max-width: 1280px) {
	.close-btn {
		display: inline-block;
	}
}

.close-btn:hover,
.close-btn:focus {
	text-decoration: underline;
	color: var(--strawberry);
	cursor: pointer;
}

.gallery {
  text-align: center;
}

.modal-image {
  border-radius: 5px;
  transition: 0.3s;
}

@media screen and (max-width: 1280px) {
	.modal-image {
		width: 100%;
		height: auto;
	}
}

.modal-image:hover {
  box-shadow: 0 15px 35px rgba(249, 158, 26, 0.2), 0 5px 15px rgba(229, 138, 6, 0.4);
  transform: scale(1.05);
}
