/* Used the the projects section of the page */
.project-header {
  margin-top: 16px;
  vertical-align: bottom;
}

.project-title {
  display: inline;
  color: var(--hightlight);
}

.project-note {
  display: inline;
  color: var(--light-gray);
}

.project-entry > p {
  text-align: justify;
}

.gallery {
  text-align: center;
}

.image {
  z-index: 0;
  border-radius: 5px;
  /*filter: brightness(0.7);*/
  transition: 0.3s;
}

@media screen and (max-width: 800px) {
  .image {
    width: 100%;
    height: auto;
  }
}

.image:hover {
  /*filter: brightness(1);*/
  box-shadow: 0 0 25px 1px #666;
}

.small-link {
  color: var(--highlight);
  text-decoration: none;
}
