@font-face {
	font-family: "MuseoSans";
	src: url(/static/creativity/fonts/MuseoSans/MuseoSans-500.ttf) format("truetype");
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100%;
	margin: 0;
	font-family: 'MuseoSans', sans-serif;
	background-color: #fdfdfd;
}

body::-webkit-scrollbar {
	display: none;
}

.centered {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 100vh;
	width: auto;
	background-color: rgb(218, 176, 71);
	/* background-image: url(/static/creativity/img/eclipse-hero.svg); */
	/* background-position-x: 50%;
	background-position-y: 50%; */
	/* background-repeat: no-repeat;
	background-size: cover; */
}

.title {
	color: black;
	font-family: 'Pacifico', cursive;
	font-size: 10em;
	margin-top: 0.5em;
}

.subtitle {
	color: black;
	width: 800px;
	margin: 0.5em auto;
	font-size: 2em;
}

.quote {
	color: black;
	font-size: 1.4em;
}

.button {
	background-color: #F1693C;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	line-height: 30px;
	width: fit-content;
	min-width: 264px;
	padding: 12px;
	border-radius: 55px;
	cursor: pointer;
	transition-duration: 0.2s;
	outline: none;
}

.quote-button {
	background-color: rgb(218, 176, 71);
	border: 4px solid white;
	color: black;
	margin: 160px auto 60px;
}

.button:hover {
	background-color: #c55b38;
}

.quote-button:hover {
	background-color: rgba(0, 0, 0, 0.205);
}

.appstore-button {
	margin: 2rem 0 200px;
}

.section {
	padding: 4rem 2rem;
}

.section-theme {
	padding: 2rem 2rem;
}

.off-color {
	background-color: #9bd3dd9f;
}

.header-color {
	background-color: rgb(0, 59, 87);
}

.banner-text {
	line-height: 0.5;
}

.banner-text h1 {
	margin: 0;
	font-size: 1em;
}

.banner-text h2 {
	margin: 0;
	font-size: 0.5em;
}

.banner-text p {
	margin: 0;
	font-size: 24px;
}

.header-text {
	color: white;
}

.section-content {
	width: 1000px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	column-gap: 2rem;
	column-count: 2;
	height: min-content;
}

.section-single {
	width: 1000px;
	margin: auto;
	height: min-content;
	padding: -6rem;
}

.section-text {
	color: black;
}

.section-header {
	color: rgba(0, 0, 0, 0.89);
	font-size: 2.5em;
}

.section-header-text {
	color: white;
}

.section-body {
	color: rgba(0, 0, 0, 0.62);
	font-size: 20px;
	line-height: 1.5em;
}

.light-body {
	color: rgba(256, 256, 256, 0.98);
}

.dark-body {
	color: rgba(0, 0, 0, 0.89);
}

.section-media {
	display: flex;
	justify-content: center;
	filter: drop-shadow(0 0 10px gray)
}

.section-media img {
	width: 100%;
	height: auto;
}

.section-image {
	max-width: 40%;
	padding: 0 8px;
}

#slider {
	height: 100%;
	width: auto;
	max-height: 400px;
	max-width: 350px;
	object-fit: cover;
}

.card-bg {
	border-radius: 8px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-text {
	padding: 1.2rem 1.8rem;
}