.video-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 56.25%;
}

iframe {
	position: absolute;
	border: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Nunito', sans-serif;
	background: #2f3d85;
	color: #a7bfff;
	margin: 50px 80px;
	overflow: hidden;
}

.contents {
	max-width: 1920px;
	margin: auto;
}

.header {
	margin-bottom: 80px;
}

.header-right {
	text-align: right;
}

h1,
h2 {
	margin: 0;
}

.centered {
	margin: auto;
	width: 100%;
	text-align: center;
}

.main-element {
	height: 1000px;
}

.grid {
	display: grid;
	grid-template-columns: 295px 1fr 295px;
	gap: 50px;
}

.dropdown-button {
	background-color: #2f3d85;
	outline: none;
	text-align: left;
	width: 100%;
	font-size: 16px;
	color: white;
	padding: 8px 16px;
	border: 2px solid #a7bfff;
	border-radius: 6px;
	cursor: pointer;
}

.dropdown {
	margin: 20px 0px 0px;
}

.dropdown-content {
	display: none;
	position: absolute;
	margin: 0px 2px 2px 2px;
	background-color: #2f3d85;
	box-shadow: 0px 0px 0px 2px #a7bfff;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	z-index: 1;
}

.dropdown-content a {
	padding: 12px 16px;
	color: #a7bfff;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.dropdown-content a:hover {
	color: #2f3d85;
	background-color: #a7bfff;
}

.playlist-parent {
	margin-top: 20px;
	color: white;
	display: inline-block;
}

.playlist-parent>p {
	margin-right: 40px;
	margin-bottom: 20px;
	margin-top: 0;
	display: inline;
	float: left;
	border-bottom: 2px solid transparent;
}

.playlist-parent>p:hover {
	cursor: pointer;
}

.own-playlist {
	margin: 20px 0px;
	display: none;
}

.playlist-input {
	background-color: #2f3d85;
	border: 0;
	outline: none;
	font-size: 16px;
	margin-left: 2px;
	padding: 8px 16px;
	box-shadow: 0px 0px 0px 2px #a7bfff;
	color: white;
	border-radius: 6px;
	box-sizing: border-box;
	width: calc(100% - 4px);
	margin-bottom: 20px;
}

.playlist-input::placeholder {
	color: #a7bfff;
}

.input-button {
	color: #2f3d85;
	background: #a7bfff;
	outline: none;
	border: 0;
	padding: 8px 16px;
	border-radius: 6px;
}

.loop-container {
	margin-top: 40px;
	display: block;
	position: relative;
	cursor: pointer;
	padding-left: 35px;
	user-select: none;
}

.loop-container input {
	position: absolute;
	cursor: pointer;
	opacity: 0;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: -1px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: transparent;
	border: 2px solid #a7bfff;
}

.loop-container:hover input~.checkmark {
	background-color: #a7beff36;
}

.loop-container input:checked~.checkmark {
	background-color: transparent;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.loop-container input:checked~.checkmark:after {
	display: block;
}

.loop-container .checkmark:after {
	left: 9px;
	top: -9px;
	width: 10px;
	height: 24px;
	border: solid #a7bfff;
	border-width: 0 2px 2px 0;
	transform: rotate(40deg);
}

.background-controls {
	margin-top: 20px;
	height: 4px;
	width: calc(100% - 3px);
	background-color: white;
	border-radius: 15px;
	outline: none;
}

.slider-container {
	position: relative;
}

.background-slider-real {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #a7bfff;
	border-radius: 15px;
	outline: none;
}

.background-slider {
	position: absolute;
	top: 0;
	left: -2px;
	width: 100%;
	-webkit-appearance: none;
	outline: none;
	height: 0;
}

.background-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 6px;
	height: 18px;
	cursor: pointer;
}

.background-slider::-moz-range-thumb {
	width: 6px;
	height: 18px;
	cursor: pointer;
	border: solid #2f3d85;
	background-color: #a7bfff;
}